<section class="title-section">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1>News</h1>
            </div>
        </div>
    </div>
</section>
<section class="blogs">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let singleNews of news">
                <div class="col-md-4">
                    <div class="blog my-5">
                        <div class="blog-img">
                            <img [src]="singleNews.img" alt="" />
                        </div>
                        <div class="blog-content">
                            <h4>{{ singleNews.title }}</h4>
                            <div class="para">
                                <p>{{ singleNews.description }}</p>
                            </div>
                            <div class="blog-bottom">
                                <button class="btn blog-btn">Read More</button>
                                <p>{{ singleNews.author }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>