<section class="title-section">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h1>Blogs</h1>
      </div>
    </div>
  </div>
</section>
<section class="blogs">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let blog of blogs">
        <div class="col-md-4">
          <div class="blog my-5">
            <div class="blog-img">
              <img [src]="blog.img" alt="" />
            </div>
            <div class="blog-content">
              <h4>{{ blog.title }}</h4>
              <div class="para">
                <p>{{ blog.description }}</p>
              </div>
              <div class="blog-bottom">
                <button class="btn blog-btn">Read More</button>
                <p>{{ blog.author }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
