<section class="title-section">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h1>Why us for IELTS ?</h1>
      </div>
    </div>
  </div>
</section>
<section class="ielts py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="why text-center mt-3 ">
          <div class="why_img text-center mt-3 mb-3">
            <img src="assets/images/icon2w.png">
          </div>
          <div class="why_content">
            <h5>Prime Faculty</h5>
            <p class="para">
              Certified Trainers : Listening (8), Writing (7), Speaking (7), Reading(7) or more bands.
            </p>
          </div>
        </div>
        <div class="why text-center mt-3 ">
          <div class="why_img text-center mt-3 mb-3">
            <img src="assets/images/icon1w.png">
          </div>
          <div class="why_content">
            <h5>Latest Material</h5>
            <p class="para">
              Practice on Actual Tests, Free Cambridge Books.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="assets/images/ielts.svg" alt="">
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="why text-center mt-3 ">
          <div class="why_img text-center mt-3 mb-3">
            <img src="assets/images/icon4w.png">
          </div>
          <div class="why_content">
            <h5>Best Results</h5>
            <p class="para">
              80% Success Rate, Additional Grammer and Speaking classes.
            </p>
          </div>
        </div>
        <div class="why text-center mt-3 ">
          <div class="why_img text-center mt-3 mb-3">
            <img src="assets/images/icon3w.png">
          </div>
          <div class="why_content">
            <h5>Individual Attention</h5>
            <p class="para">
              Detailed Assessment, Comprehensive and Intensive Mock Test Feedback.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>