<section class="title-section">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1>Australia PR</h1>
            </div>
        </div>
    </div>
</section>
<section class="page_content mt-5 p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-5">Process</h1>
                <h4 class="mb-4">Australia PR eligibility</h4>
                <ol class="mb-5">
                    <li>45 years of age.</li>
                    <li>65 points in the Australian points grid.</li>
                    <li>Valid skills assessment.</li>
                    <li>IELTS or PTE score</li>
                    <li>Health insurance.</li>
                    <li>Police verification certificate.</li>
                </ol>
                <h4 class="mb-4">Steps to get Australian PR</h4>
                <ol class="mb-5">
                    <li>Check PR Eligibility.</li>
                    <li>English proficiency Test.</li>
                    <li>Skill Assessment.</li>
                    <li>Receiving an invitation.</li>
                    <li>Nomination (Submitting your Documents for PR application).</li>
                    <li>Wait for the Visa Grant.</li>
                </ol>

                <h4>Check your PR Eligibility (Calculate your Points)</h4>
                <p class="mb-4">https://immi.homeaffairs.gov.au/help-support/tools/points-calculator</p>

                <h4 class="mb-4">English proficiency Test</h4>
                <table class="mb-5">
                    <thead>
                        <tr>
                            <th>English Language Ability</th>
                            <th>Score</th>
                            <th>Eligible points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Competent English</td>
                            <td>0</td>
                            <td>Less Than 65</td>
                        </tr>
                        <tr>
                            <td>Proficient English</td>
                            <td>10</td>
                            <td>65 or more in each test component</td>
                        </tr>
                        <tr>
                            <td>Superior English</td>
                            <td>20</td>
                            <td>79 or more each test component</td>
                        </tr>
                    </tbody>
                </table>

                <h4>Skill Assessment</h4>
                <p class="mb-4">Few Skills Assessing Authorities</p>
                <ol class="mb-5">
                    <li>ACS</li>
                    <li>CPA</li>
                    <li>Engineer Australia</li>
                    <li>AITSL</li>
                    <li>VETASSESS</li>
                </ol>

                <ol>
                    <li>
                        <h4>ACS – Australian Computer Society</h4>
                        <ol>
                            <li>
                                <h6>They Assess IT Professionals
                                    Eligibility Criteria –</h6>
                                <p>Type 1</p>
                                <ol>
                                    <li>IT Experience + Same Education Background</li>
                                    <li>2-3 Year work related gap is acceptable</li>
                                    <li>Work experience should be within 10 years</li>
                                </ol>
                                <p>Type 2</p>
                                <ol>
                                    <li>IT experience + Different education background</li>
                                    <li>5 Years experience is mandatory</li>
                                    <li>Work experience should be within 10 years</li>
                                </ol>
                            </li>
                            <li>
                                <h6>CPA – Certified Practicing Accountant</h6>
                                <p>
                                    They assess finance, accounting, and business professionals with specific
                                    qualifications
                                </p>
                                <ol>
                                    <li>They assess profiles related to B.com, M.Com or MBA</li>
                                    <li>7 Bands each - required either from Ielts or PTE.</li>
                                    <li>
                                        <p>Engineer australia</p>
                                        <ol>
                                            <li>They assess profiles related to B.Tec background.</li>
                                            <li>No Experience required</li>
                                            <li>PTE- 6 Bands required.</li>
                                            <li>CDR mandatory (It is a kind of Assessment project)</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h6>AITSL</h6>
                                <ol>
                                    <li>They assess profiles related to Teaching Background.</li>
                                    <li>JBT+ Bachelors or Masters required.</li>
                                    <li>No Experience Required</li>
                                    <li>Ielts- R-7, W-7, L-8, S-8</li>
                                    <li>PTE Not acceptable.</li>
                                    <li>45 Days lesson Plan is mandatory to submit. (It should be as per the Australian
                                        Curriculum).
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h6>VETASSESS</h6>
                                <p>They assess profiles related to Admin Fields.</p>
                                <ol>
                                    <li>Any profile related to BA, B.com is acceptable.</li>
                                    <li>1 Year experience is mandatory from Admin Background.</li>
                                    <li>No PTE required.</li>
                                </ol>
                                <p>They assess profiles related to Admin Fields.</p>
                                <ol>
                                    <li>One year's experience is required in their field.</li>
                                </ol>
                                <p>They Assess profiles related to Nurse background or medical field.</p>
                                <ol>
                                    <li>First they must need to enroll in 6 months or one year study in australia</li>
                                    <li>After that they can apply for skill Assessment or registration as a nurse.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>

                    <h4>Documents required for skill assessment</h4>
                    <ol>
                        <li>Salary slips</li>
                        <li>Bank statement</li>
                        <li>Form 16</li>
                        <li>ITR</li>
                        <li>Experience letter with description of duties at the letter head of the company.</li>
                    </ol>
                    <h4>Pathways for Australian PR</h4>
                    <ol>
                        <li>Employer sponsorship.</li>
                        <li>Point System.
                            Point system- Minimum 65 points required
                            Category –
                            <ol>
                                <li>189- Skilled Independent visa- Can stay anywhere across Australia.</li>
                                <li>190- Skilled Nominated visa- After PR they can shift to any place within state but
                                    at the beginning
                                    it is
                                    mandatory to stay at nominated PR destination. They will get 5 more points for PR
                                    application for
                                    applying via this category.</li>
                                <li>491- Skilled Work Regional (Provisional) visa- They are restricted to stay 3 years
                                    only in the
                                    regional part of
                                    the state after that they can shift to any place. For this they will get 15 more
                                    points for applying
                                    via this category.
                                    We can apply in all these.</li>
                            </ol>
                        </li>
                    </ol>
                    <p>Note- After that they can change their state with the help of PR consultant in Australia.</p>
                    <h4>Fee structure-</h4>
                    <p>At the time of PR grant they need to pay:</p>
                    <ol>
                        <li>Main Applicant- 4600 $</li>
                        <li>Partner _ 2320$</li>
                        <li>Child- 1160$</li>
                    </ol>
                    <P>Skill assessment charges</P>
                    <p>ACS- 550$</p>
                    <p>Engineer Australia 600- 800$</p>
                    <p>CPA 660$</p>
                    <p>AITSL- 1000$</p>
                    <p>VETASSESS 1100 $</p>
                    <p>For CDR - 2000$</p>


                    <p>Note- If there is a partner also who is assessing their profile for this, they will contribute 10
                        points to the
                        main
                        applicants.</p>
                </ol>
            </div>
        </div>
    </div>
</section>